.product-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #dfdfdf;
}

.product-list-grid {
    width: 100%;

    max-width: 64rem;
    display: grid;

    gap: 1rem;

    grid-template-rows: repeat(2, 16rem);
    grid-template-columns: repeat(3, 16rem);
    grid-auto-rows: 1fr;
    padding: 3rem;
}

.product-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) { 
    .product-list-grid {
        width: 100%;
    
        max-width: 64rem;
        display: grid;
    
        gap: 1rem;
    
        grid-template-rows: repeat(3, 10fr);
        grid-template-columns: repeat(2, 10fr);
    
        padding: 1.6rem;
    }
}