<div id="footer-wrapper">
    <div id="footer-container">
        <div class="mb-1">
            <ul class="row m-col">
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
            </ul>
        </div>
        <div class="row mb-1">
            <ul class="row m-col">
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">이용약관</a>
                </li>
                <li>
                    <a href="#">개인정보처리방침</a>
                </li>
                <li>
                    <a href="#">온라인문의</a>
                </li>
            </ul>
        </div>
        <div class="company-info-container">
            <div class="row ct mb-05">
                상호 : 맬맨 대표자 : 김태호 주소 : 서울특별시 영등포구 버드나루로 60 (영등포동7가, 경일빌딩) 3층 TEL : 02-0000-0000
            </div>
            <div class="row ct mb-05">
                사업자 등록번호 : 616-36-01012 통신판매 신고번호 : 2022-경기안산-2800 EMAIL : business@malmancorp.com
            </div>
            <div class="row ct mb-05">Copyright(c) (주)맬맨. All Rights Reserved.</div>
        </div>
    </div>
</div>