<div id="header-wrapper">
    <div id="pc-header">
        <div class="header-top-pos-bar">
            <form>
                <input type="text" placeholder="제품검색">
                <button>검색</button>
            </form>
            <div class="site-description">
                <a href="#">Home</a>
                <a href="#">Sitemap</a>
            </div>
        </div>
        <div class="header-main-bar">
            <a href="/">
                <img class="logo-img" src="assets/img/malmancorp.png" />
            </a>
            <nav>
                <ul>
                    <li class="dropdown">
                        <div class="header-list-item-text">제품소개</div>
                        <div class="dropdown-content">
                            <a href="#">증점제</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="header-list-item-text">적용분야</div>
                        <div class="dropdown-content">
                            <a href="#">식품</a>
                            <a href="#">화장품</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="header-list-item-text">기술자료</div>
                        <div class="dropdown-content">
                            <a href="#">증점제</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="header-list-item-text">
                            <a href="#">온라인문의</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="header-list-item-text">회사소개</div>
                        <div class="dropdown-content">
                            <a href="#">About Us</a>
                            <a href="#">회사개요</a>
                            <a href="#">조직도</a>
                            <a href="#">오시는길</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="mobile-header">
        <a href="/">
            <img class="logo-img" src="assets/img/malmancorp.png" />
        </a>
    </div>
</div>